spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/news_management_system
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true